<app-menu-bar></app-menu-bar>
<div class="home__container">
	<app-card
	gameCover="../../../assets/bt-1.jpg"
	gamePrice="R$ 199,90"
	gameLabel="EXCLUSIVE"
	gameType="PS4 | XBOX ONE"
	></app-card>
	<app-card
	gameCover="../../../assets/bt-4.jpg"
	gamePrice="R$ 299,90"
	gameLabel="DIGITAL"
	gameType="PC | PS5"
	></app-card>
	<app-card
	gameCover="../../../assets/bt-5.jpg"
	gamePrice="R$ 199,90"
	gameLabel="EXCLUSIVE"
	gameType="PS4 | XBOX ONE"
	></app-card>
	<app-card
	gameCover="../../../assets/bt-bad-company-2.jpg"
	gamePrice="R$ 299,90"
	gameLabel="DIGITAL"
	gameType="PC | PS5"
	></app-card>
</div>
